/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End Reset */

body {
  color: #fff;
  margin: 0;
  font-size: 1rem;
  background-color: #0a2d4d;
}

.main-title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
}

.container {
  width: 85%;
  max-width: 640px;
  height: 50vh;
  margin: 10vh auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.password-display {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #333;
  background: #fff;
  border-radius: 5px;
  padding: 0.5em 0;
  margin: 1em 0;
  font-size: 1.6rem;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.password-display__length {
  width: 100%;
}

input[type="range"] {
  width: 100%;
}

.copy-password,
.copy-password2 {
  width: 200px;
  padding: 1em 2em;
  background-color: #0572ec;
  color: white;
  border-radius: 100px;
  font-weight: bold;
  border: 0;
  /* margin-left: 2em; */
}

.copy-password:hover,
.copy-password:focus,
.copy-password2:hover,
.copy-password2:focus {
  background-color: #0458b9;
  transition: background-color 0.2s ease-in-out;
}

.copy-password2 {
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.copy-button-text {
  display: block;
}
.check-icon {
  display: none;
  padding: 0 3.22em;
}

/* Main Styles */
.button {
  display: block;
  background-color: #0572ec;
  width: 200px;
  height: 50px;
  /* line-height: 50px; */
  margin: auto;
  color: #fff;

  cursor: pointer;
  overflow: hidden;
  border-radius: 100px;
  border: none;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); */
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span,
.button .icon {
  display: block;
  height: 100%;
  text-align: center;
  /* position: absolute;
  top: 0; */
}
.button span {
  width: 100%;
  line-height: inherit;
  font-size: 1rem;
  left: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
/* .button span:after {
  content: "";
  background-color: #a53125;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
} */
.button .icon {
  width: 28%;
  right: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.button .icon .fa-remove {
  height: 36px;
}
.button .icon .fa-check {
  display: none;
}
.button.success span {
  left: -72%;
  opacity: 0;
}
.button.success .icon {
  width: 100%;
}
.button.success .icon .fa {
  font-size: 45px;
}
.button.success {
  background-color: #27ae60;
}
.button.success .icon .fa-remove {
  display: none;
}
.button.success .icon .fa-check {
  display: inline-block;
}
.button:hover {
  opacity: 0.9;
}
.button:hover .icon .fa-remove {
  height: 46px;
}
.button:active {
  opacity: 1;
}

.regeneratePasswordIcon {
  transition: transform 0.5s ease-in-out;
  margin-left: 1em;
  font-size: 1.5em;
}
.regeneratePasswordIcon:hover {
  transform: rotate(180deg);
  cursor: pointer;
}

.letter {
  color: rgb(51, 51, 51);
}
.number {
  color: rgb(5, 114, 236);
}
.symbol {
  color: rgb(230, 74, 74);
}

/* Media queries */
@media (min-width: 670px) {
  .row {
    flex-direction: row;
  }
}
