/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End Reset */

:root {
  --blue-bg-color: #0572ec;
  --blue-hover-color: #0458b9;
}

body {
  color: #fff;
  margin: 0;
  font-size: 1rem;
  background-color: #0a2d4d;
}

.main-title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
}

.container {
  width: 85%;
  max-width: 640px;
  height: 50vh;
  margin: 10vh auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.password-display {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #333;
  background: #fff;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em 0;
  font-size: 1.6rem;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.password-display__length {
  width: 100%;
}

input[type="range"] {
  width: 100%;
}

.copy-password,
.copy-password2 {
  width: 200px;
  padding: 1em 2em;
  background-color: var(--blue-bg-color);
  color: white;
  border-radius: 100px;
  font-weight: bold;
  border: 0;
  /* margin-left: 2em; */
}

.copy-password:hover,
.copy-password:focus,
.copy-password2:hover,
.copy-password2:focus {
  background-color: #0458b9;
  transition: background-color 0.2s ease-in-out;
}

.copy-password2 {
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.copy-button-text {
  display: block;
}

.check-icon {
  display: none;
  padding: 0 3.22em;
}

input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.75);
  margin-right: 1em;
}
.checkbox + .checkbox {
  margin-left: 1em;
}
.checkbox {
  display: inline-block;
}

:root {
  --blue-bg-color: #0572ec;
  --blue-hover-color: #0458b9;
  --bg-color: #0a2d4d;
  --cb-size: 25px;
  --cb-rotation-deg: 40deg;
}

body {
  background-color: var(--bg-color);
  color: #fff;
}

/* Checkbox styles 1 */
/* .checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -9999;
}
.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--cb-size);
  width: var(--cb-size);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.checkbox-wrapper:hover input ~ .custom-checkbox {
  background-color: var(--blue-hover-color);
}
.checkbox-wrapper input:active ~ .custom-checkbox {
  background-color: white;
}
.checkbox-wrapper input:checked ~ .custom-checkbox {
  background-color: var(--blue-bg-color);
  border: 1px solid var(--blue-bg-color);
}
.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-wrapper input:checked ~ .custom-checkbox:after {
  display: block;
}
.checkbox-wrapper .custom-checkbox:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(var(--cb-rotation-deg));
  -ms-transform: rotate(var(--cb-rotation-deg));
  transform: rotate(var(--cb-rotation-deg));
} */
/* End Checkbox Styles #1 */

/* Checkbox Styles #2 */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -9999;
}
input[type="checkbox"] + label {
  position: relative;
  padding-left: 24px;
}
input[type="checkbox"] + label .indicator {
  position: absolute;
  left: -4px;
  display: block;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid var(--blue-bg-color);
  cursor: pointer;
  transition: box-shadow 200ms, border 200ms, background 200ms;
}
input[type="checkbox"] + label .indicator:hover {
  background: #fff;
}
input[type="checkbox"]:focus + label .indicator {
  box-shadow: 0px 0px 1px 3px var(--blue-bg-color);
}
input[type="checkbox"]:checked + label .indicator {
  background: var(--blue-bg-color);
}
input[type="checkbox"]:checked + label .indicator::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 16px;
  border: 4px solid #fff;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  left: 6px;
}
/* End Checkbox Styles #2 */

/* Main Styles */
.button {
  display: block;
  background-color: var(--blue-bg-color);
  width: 200px;
  height: 50px;
  /* line-height: 50px; */
  margin: auto;
  color: #fff;

  cursor: pointer;
  overflow: hidden;
  border-radius: 100px;
  border: none;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); */
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span,
.button .icon {
  display: block;
  height: 100%;
  text-align: center;
}
.button span {
  width: 100%;
  line-height: inherit;
  font-size: 1rem;
  left: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button .icon {
  width: 28%;
  right: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.button .icon .fa-remove {
  height: 36px;
}
.button .icon .fa-check {
  display: none;
}
.button.success span {
  left: -72%;
  opacity: 0;
}
.button.success .icon {
  width: 100%;
}
.button.success .icon .fa {
  font-size: 45px;
}
.button.success {
  background-color: #27ae60;
}
.button.success .icon .fa-remove {
  display: none;
}
.button.success .icon .fa-check {
  display: inline-block;
}
.button:hover {
  opacity: 0.9;
}
.button:hover .icon .fa-remove {
  height: 46px;
}
.button:active {
  opacity: 1;
}

.regeneratePasswordIcon {
  transition: transform 0.5s ease-in-out;
  margin-left: 1em;
  font-size: 1.5em;
}
.regeneratePasswordIcon:hover {
  transform: rotate(180deg);
  cursor: pointer;
}

.letter {
  color: rgb(51, 51, 51);
}
.number {
  color: rgb(5, 114, 236);
}
.symbol {
  color: rgb(230, 74, 74);
}

/* Media queries */
@media (min-width: 670px) {
  .row {
    flex-direction: row;
  }
}
